.navbar-first {
    border-radius: 0 0 5px 5px;
    padding: 5px 20px;
    font-size: 1.2rem;
}

.navbar-second {
    border-radius: 5px;
    padding: 5px 20px;
    font-size: 1.2rem;
}

footer {
    border-radius: 5px;
}

.container {
    border-radius: 5px;
}

.breadcrumb {
    padding: 5px 40px;
    font-size: 1.2rem;
}